In [18]:
import logging
import openpyxl
import re
import traceback
import numpy as np
import pandas as pd
import requests as rq
from collections import defaultdict
from random import randint

### Define Constants

In [4]:
GOOGLE_SHEET_LINK = 'https://docs.google.com/spreadsheets/d/1u9xez7cCm2zTK65cn1WrtmKDK2FuqfckQ44PxGXfmLc/edit#gid=1053414731'

EXCEL_FILENAME = 'test-cases/google_sheet_excel.xlsx'

### if you have an excel file already
### set HAVE_EXCEL_FILE variable to True and set EXCEL_FILE_PATH to the path of the local excel file
HAVE_EXCEL_FILE = True
EXCEL_FILE_PATH = 'test-cases/daily_transactions.xlsx'

SQL_IMPLEMENTATION = 'sqlserver' ### postgres, mysql, sqlserver

SHOW_PRINT = False

ERROR_LOG_STRING_FORMAT = '''
    {section_title}
    ---
    {description}
    ---
    {error_message}
''' + '='*60 + '\n\n'

In [5]:
INCONSISTENT_COLUMNS = defaultdict(
    lambda : {'datetime' : 'datetime'}, ### change this to date/datetime based on what is required
    {
        'postgres': {'datetime' : 'timestamp'}
    }
)

DTYPES_MAPPING = {
    'object' : 'varchar(255)',
    'int' : 'int',
    'float' : 'float'
}

DTYPES_MAPPING = {**DTYPES_MAPPING, **INCONSISTENT_COLUMNS[SQL_IMPLEMENTATION]}
if SHOW_PRINT:
    print(DTYPES_MAPPING)

### Logging Helper

In [7]:
def error_logging_helper(log_filename:str = 'all_logs.log', logger_name:str = 'error_logger'):
    '''
    helper function for logging errors
    '''
    logger = logging.getLogger(logger_name)
    handler = logging.FileHandler(
        filename=log_filename,
        mode='a+'
    )
    log_format = logging.Formatter('%(asctime)s - %(message)s')
    handler.setLevel(logging.INFO)
    handler.setFormatter(log_format)
    logger.addHandler(handler)
    logger.setLevel(logging.INFO)
    print(logger.getEffectiveLevel())
    
    return logger

logger = error_logging_helper('all_logs.log')

20

### Download Google Sheet as Excel

In [8]:
def download_xlsx_from_google_sheet():
    '''
    function for downloading google sheet as xlsx file
    
    Returns: boolean value based on success/failure
    '''
    return_bool_value = True
    
    if 'docs.google.com' not in GOOGLE_SHEET_LINK and 'spreadsheets' not in GOOGLE_SHEET_LINK:
        logger.error(
            ERROR_LOG_STRING_FORMAT.format(
                section_title = 'Error occured in downloading google sheet. Please check google sheet link',
                description = GOOGLE_SHEET_LINK,
                error_message = GOOGLE_SHEET_LINK
            )
        )
        return_bool_value = False
    else:
        try:
            ### extract id and try downloading google sheet
            google_sheet_id = re.search(
                pattern = r'(\/d\/)(\w+)(\/)',
                string = GOOGLE_SHEET_LINK
            ).group(2)

            sheet_download_rq = rq.get(
                url = 'https://docs.google.com/spreadsheets/u/0/d/' + google_sheet_id + "/export",
                params = {
                    'format' : 'xlsx',
                    'id' : google_sheet_id
                },
                stream = True
            )
    
            ### if permission error log error else create xlsx file
            if 'sign in' in sheet_download_rq.text.lower():
                logger.error(
                    ERROR_LOG_STRING_FORMAT.format(
                        section_title = 'Error occured in downloading google sheet. Please check google sheet link',
                        description = GOOGLE_SHEET_LINK,
                        error_message = sheet_download_rq.url
                    )
                )
                return_bool_value = False
            else:
                with sheet_download_rq as f:
                    with open(EXCEL_FILENAME, 'wb') as output:
                        output.write(f.content)
                    
                return_bool_value = True
            
        except Exception as e:
            logger.error(
                ERROR_LOG_STRING_FORMAT.format(
                    section_title = 'Error occured in downloading google sheet. Please check google sheet link: ' + GOOGLE_SHEET_LINK,
                    description = str(e),
                    error_message = str(traceback.format_exc())
                )
            )
            
            return_bool_value = False
            
    return return_bool_value

### Open Downloaded Excel and Convert to DataFrame

In [9]:
def convert_sheets_to_dfs(workbook:openpyxl.workbook.workbook.Workbook, sheet_name:str):
    '''
    takes the sheetname and openpyxl workbook and returns a dataframe 
    and dataypes of each column
    
    Inputs:
        workbook: openpyxl workbook variable obtained using openpyxl.load_workbook()
        sheet_name: name of the sheet
    
    Returns: dataframe df and df.dtypes
    '''
    sheet_data = workbook[sheet_name].values
    df = pd.DataFrame(sheet_data, columns = next(sheet_data))
    df = df.dropna(axis=1, how='all').dropna(axis=0, how='all')
    
    if SHOW_PRINT:
        print(df.head(3), end="\n\n")
        print(df.dtypes, end="\n\n")
    
    return df, df.dtypes

### Helper Functions for Generating Queries

In [10]:
def generate_create_table_query(dtype_df:pd.core.series.Series, table_name:str):
    '''
    function for generating the create ddl query
    
    Inputs:
        - dtype_df: pandas series with dtypes obtained form the `convert_sheets_to_dfs` function
        - table_name: name of the table to be created
        
    Returns:
        - string with create ddl query
    '''
    
    create_table_structure = '''
    create table {table_name} (
    {columns_dtypes}
    );
    '''
    
    complete_colname_dtype_string = ''

    for col, dtype in dtype_df.iteritems():
        cleaned_dtype = re.search(r'([a-zA-Z]+)', str(dtype)).group()
        colname_dtype_string = '\t' + col + ' ' + DTYPES_MAPPING[cleaned_dtype] + ',\n'
        complete_colname_dtype_string += colname_dtype_string

    complete_colname_dtype_string = complete_colname_dtype_string.rsplit(
        sep=',',
        maxsplit=1
    )[0]
    
    create_table_query_populated = create_table_structure.format(
        table_name = table_name,
        columns_dtypes = complete_colname_dtype_string
    )
    
    print(create_table_query_populated)
    
    return create_table_query_populated

In [20]:
def generate_insert_values_query(df:pd.DataFrame, table_name:str):
    '''
    function for generating the `insert into table values` query
    
    Inputs:
        - df: pandas dataframe obtained from the `convert_sheets_to_dfs` function
        - table_name: name of the table to be created
        
    Returns:
        - string with insert query
    '''
    
    insert_query_structure = '''
    insert into 
        {table_name} ({col_names}) 
    values
    {values_query_string}
    ;
    
    select * from {table_name};
    '''
    
    ### create a new col in the dataframe with all other columns concatenated as string
    df['final_col'] = ''
    
    for col, dtype in zip(df.dtypes.index, df.dtypes.values):
        if col != 'final_col':
            if dtype in [float, np.float64] or dtype in [int, np.int64]:
                df['final_col'] += df[col].astype(str) + ", "
            else:
                df['final_col'] += "'" + df[col].astype(str) + "', "
            
    df['final_col'] = df['final_col'].apply(lambda x: "\t(" + x.rsplit(sep=',', maxsplit=1)[0] + ")")

    insert_values_query_string = ',\n'.join(df['final_col'].values)
    colnames_string = ', '.join(df.drop('final_col', axis=1).dtypes.index)
    
    insert_query_populated = insert_query_structure.format(
        table_name = table_name,
        col_names = colnames_string,
        values_query_string = insert_values_query_string
    )
    
    print(insert_query_populated)
    
    return insert_query_populated

### Connect Everything Together

In [23]:
if not HAVE_EXCEL_FILE:
    download_check = download_xlsx_from_google_sheet()
else:
    download_check = True

if download_check:
    if not HAVE_EXCEL_FILE:
        wb = openpyxl.load_workbook(EXCEL_FILENAME, data_only=True)
    else:
        wb = openpyxl.load_workbook(EXCEL_FILE_PATH, data_only=True)
        
    print(wb.sheetnames)
    
    for sheet_name in wb.sheetnames:
        ### clean up sheet name to make a valid table name
        table_name = sheet_name.replace(' ', '')
        table_name = ''.join(
            re.findall('(\w+)', table_name)
        )
        if table_name == '':
            table_name = 'table_'+str(randint(1, 100000))

        print("###"*15, " ", sheet_name, ":", table_name, " ", "###"*15)

        df, dtype_df = convert_sheets_to_dfs(wb, sheet_name)

        print("~~~"*15)
        create_table_query_populated = generate_create_table_query(dtype_df, table_name)
        insert_query_populated = generate_insert_values_query(df, table_name)
        print("~~~"*15)

        print("###"*35, end="\n\n")
else:
    print(download_check)

['transaction']
#############################################   transaction : transaction   #############################################
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    create table transaction (
    	transaction_date datetime,
	user_id int,
	card_id int,
	amount float,
	transaction_type varchar(255),
	merchant_city varchar(255),
	merchant_state varchar(255)
    );


    insert into
        transaction (transaction_date, user_id, card_id, amount, transaction_type, merchant_city, merchant_state)
    values
    	('2013-05-01', 0, 0, 35.76, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2016-12-25', 0, 2, 138.14, 'Chip Transaction', 'Mira Loma', 'CA'),
	('2016-10-01', 0, 3, 26.25, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2009-08-29', 0, 3, 23.5, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-05-31', 0, 0, 1.67, 'Chip Transaction', 'La Verne', 'CA'),
	('2006-10-06', 0, 3, 137.18, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-11-26', 0, 2, 7.29, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-01-30', 0, 3, 44.44, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2019-04-28', 0, 1, 154.54, 'Chip Transaction', 'La Verne', 'CA'),
	('2003-02-09', 0, 0, 10.24, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2018-10-03', 0, 2, 55.0, 'Chip Transaction', 'Mira Loma', 'CA'),
	('2013-04-23', 0, 3, 119.34, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2010-06-08', 0, 3, 903.44, 'Swipe Transaction', 'Rosemead', 'CA'),
	('2004-06-20', 0, 3, 31.65, 'Swipe Transaction', 'Diamond Bar', 'CA'),
	('2013-02-02', 0, 3, 166.81, 'Swipe Transaction', 'La Verne', 'CA'),
	('2019-03-04', 0, 3, 984.04, 'Swipe Transaction', 'Elk Grove', 'CA'),
	('2012-07-20', 0, 3, 87.22, 'Swipe Transaction', 'La Verne', 'CA'),
	('2013-04-07', 0, 3, 42.47, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2013-03-26', 0, 2, 64.01, 'Swipe Transaction', 'La Verne', 'CA'),
	('2008-05-24', 0, 2, 95.92, 'Swipe Transaction', 'La Verne', 'CA'),
	('2010-09-30', 0, 2, 99.57, 'Swipe Transaction', 'La Verne', 'CA'),
	('2014-04-05', 0, 3, 138.06, 'Swipe Transaction', 'La Verne', 'CA'),
	('2002-10-06', 0, 0, 139.39, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2007-09-21', 0, 3, 40.14, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2013-04-06', 0, 2, 31.49, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2014-04-26', 0, 3, 39.51, 'Swipe Transaction', 'La Verne', 'CA'),
	('2009-09-30', 0, 3, 30.24, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2013-09-16', 0, 2, 292.0, 'Swipe Transaction', 'Lake Zurich', 'IL'),
	('2011-06-19', 0, 3, 58.95, 'Swipe Transaction', 'La Verne', 'CA'),
	('2017-09-01', 0, 2, 124.91, 'Chip Transaction', 'Mira Loma', 'CA'),
	('2012-10-30', 0, 3, 142.69, 'Swipe Transaction', 'La Verne', 'CA'),
	('2006-05-14', 0, 0, 24.85, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2015-02-16', 0, 0, 10.98, 'Chip Transaction', 'La Verne', 'CA'),
	('2010-05-10', 0, 3, 132.93, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-10-01', 0, 2, 54.56, 'Swipe Transaction', 'Florence', 'SC'),
	('2010-08-17', 0, 3, 47.35, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2017-04-20', 0, 1, 112.44, 'Chip Transaction', 'La Verne', 'CA'),
	('2013-06-26', 0, 3, 27.93, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2006-07-28', 0, 3, 234.95, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2017-11-04', 0, 0, 144.73, 'Chip Transaction', 'Mira Loma', 'CA'),
	('2003-05-21', 0, 0, 1.7, 'Swipe Transaction', 'La Verne', 'CA'),
	('2018-02-04', 0, 3, 43.41, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-07-29', 0, 2, 128.27, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-12-22', 0, 3, 169.33, 'Swipe Transaction', 'La Verne', 'CA'),
	('2004-04-12', 0, 3, 128.54, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-11-02', 0, 3, 23.49, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-12-22', 0, 2, 1.96, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-02-06', 0, 2, 120.09, 'Chip Transaction', 'Chicago', 'IL'),
	('2016-11-24', 0, 3, 25.25, 'Swipe Transaction', 'La Verne', 'CA'),
	('2019-09-02', 0, 3, 140.0, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2009-04-24', 0, 3, 45.11, 'Swipe Transaction', 'La Verne', 'CA'),
	('2009-07-31', 0, 3, 85.84, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2014-08-03', 0, 3, 37.11, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-08-20', 0, 2, 6.85, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-09-14', 0, 3, 93.78, 'Swipe Transaction', 'La Verne', 'CA'),
	('2010-10-21', 0, 3, 33.82, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-03-19', 0, 2, 37.65, 'Chip Transaction', 'La Verne', 'CA'),
	('2019-03-05', 0, 1, 144.36, 'Chip Transaction', 'La Verne', 'CA'),
	('2004-10-02', 0, 0, 51.31, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2015-08-12', 0, 1, 10.26, 'Chip Transaction', 'Mira Loma', 'CA'),
	('2008-02-08', 0, 3, 37.78, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2010-12-14', 0, 0, 30.07, 'Swipe Transaction', 'La Verne', 'CA'),
	('2005-10-03', 0, 3, 154.85, 'Swipe Transaction', 'La Verne', 'CA'),
	('2018-05-31', 0, 2, 57.14, 'Chip Transaction', 'La Verne', 'CA'),
	('2011-10-04', 0, 2, -454.0, 'Swipe Transaction', 'Las Vegas', 'NV'),
	('2015-02-11', 0, 1, 87.91, 'Chip Transaction', 'Chicago', 'IL'),
	('2019-05-27', 0, 3, 162.27, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2005-11-21', 0, 3, 171.98, 'Swipe Transaction', 'La Verne', 'CA'),
	('2013-10-05', 0, 2, 50.9, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2017-02-28', 0, 3, 139.83, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-05-23', 0, 3, 135.96, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2005-01-05', 0, 0, 6.06, 'Swipe Transaction', 'La Verne', 'CA'),
	('2006-01-30', 0, 3, 88.0, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2010-08-08', 0, 3, 113.09, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2010-04-19', 0, 3, 59.22, 'Swipe Transaction', 'La Verne', 'CA'),
	('2018-08-24', 0, 3, 123.58, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-09-15', 0, 2, 28.58, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-11-26', 0, 3, 38.35, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-04-03', 0, 3, 139.91, 'Swipe Transaction', 'La Verne', 'CA'),
	('2013-09-18', 0, 3, 120.86, 'Swipe Transaction', 'Saint Michael', 'MN'),
	('2003-01-24', 0, 0, 227.9, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2009-07-12', 0, 3, -89.0, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2017-05-30', 0, 3, 115.17, 'Swipe Transaction', 'Diamond Bar', 'CA'),
	('2004-09-20', 0, 0, 36.71, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2011-03-18', 0, 3, 160.52, 'Swipe Transaction', 'La Verne', 'CA'),
	('2013-06-20', 0, 2, 60.92, 'Swipe Transaction', 'La Verne', 'CA'),
	('2005-10-23', 0, 3, 126.38, 'Swipe Transaction', 'La Verne', 'CA'),
	('2014-04-09', 0, 3, 146.76, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-06-30', 0, 3, 186.47, 'Swipe Transaction', 'La Verne', 'CA'),
	('2005-05-04', 0, 3, 141.23, 'Swipe Transaction', 'South Jordan', 'UT'),
	('2003-10-11', 0, 0, 162.31, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-01-12', 0, 3, 49.73, 'Swipe Transaction', 'La Verne', 'CA'),
	('2017-08-15', 0, 2, 43.57, 'Chip Transaction', 'La Verne', 'CA'),
	('2008-08-05', 0, 2, 140.67, 'Swipe Transaction', 'La Verne', 'CA'),
	('2008-09-28', 0, 3, 10.07, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2013-06-02', 0, 0, 157.62, 'Swipe Transaction', 'La Verne', 'CA'),
	('2005-01-06', 0, 3, 242.49, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2007-12-17', 0, 3, 136.24, 'Swipe Transaction', 'La Verne', 'CA'),
	('2009-06-14', 0, 0, 18.36, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-02-26', 0, 3, 108.33, 'Swipe Transaction', 'La Verne', 'CA'),
	('2019-03-15', 0, 0, 48.37, 'Chip Transaction', 'La Verne', 'CA'),
	('2004-06-07', 0, 3, 173.0, 'Swipe Transaction', 'La Verne', 'CA'),
	('2016-03-16', 0, 3, 35.5, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2020-02-22', 0, 3, 162.27, 'Swipe Transaction', 'La Verne', 'CA'),
	('2010-09-18', 0, 3, 210.24, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2014-01-13', 0, 2, -56.0, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-04-06', 0, 1, 151.48, 'Chip Transaction', 'La Verne', 'CA'),
	('2003-05-25', 0, 0, 16.74, 'Swipe Transaction', 'La Verne', 'CA'),
	('2005-04-14', 0, 0, 35.91, 'Swipe Transaction', 'La Verne', 'CA'),
	('2019-05-19', 0, 1, 122.18, 'Chip Transaction', 'La Verne', 'CA'),
	('2016-08-26', 0, 3, 120.82, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-06-26', 0, 3, 105.88, 'Swipe Transaction', 'La Verne', 'CA'),
	('2009-03-03', 0, 0, 43.3, 'Swipe Transaction', 'La Verne', 'CA'),
	('2017-04-29', 0, 3, 187.8, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-08-22', 0, 3, 84.3, 'Swipe Transaction', 'La Verne', 'CA'),
	('2016-12-07', 0, 0, 45.94, 'Chip Transaction', 'Monterey Park', 'CA'),
	('2019-12-01', 0, 2, 36.6, 'Chip Transaction', 'La Verne', 'CA'),
	('2005-09-26', 0, 3, 117.19, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-03-19', 0, 0, 125.26, 'Swipe Transaction', 'La Verne', 'CA'),
	('2010-02-05', 0, 3, 141.94, 'Swipe Transaction', 'La Verne', 'CA'),
	('2018-08-21', 0, 3, 123.7, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-05-25', 0, 3, 93.11, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2019-06-05', 0, 3, 31.28, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2018-05-17', 0, 1, 72.0, 'Chip Transaction', 'La Verne', 'CA'),
	('2010-09-18', 0, 3, 60.25, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-03-09', 0, 0, 69.12, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2006-08-01', 0, 3, 165.67, 'Swipe Transaction', 'La Verne', 'CA'),
	('2014-07-18', 0, 1, 124.48, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-02-18', 0, 0, 124.27, 'Swipe Transaction', 'La Verne', 'CA'),
	('2019-03-06', 0, 3, 103.28, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2007-07-13', 0, 3, 116.77, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-01-13', 0, 2, 75.89, 'Swipe Transaction', 'La Verne', 'CA'),
	('2008-04-03', 0, 3, 165.81, 'Swipe Transaction', 'San Antonio', 'TX'),
	('2012-11-24', 0, 0, 133.65, 'Swipe Transaction', 'La Verne', 'CA'),
	('2008-03-23', 0, 3, 174.04, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2017-02-21', 0, 3, 12.42, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2010-03-10', 0, 3, 25.81, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2005-10-08', 0, 2, 101.38, 'Swipe Transaction', 'La Verne', 'CA'),
	('2008-12-26', 0, 3, 74.48, 'Swipe Transaction', 'La Verne', 'CA'),
	('2002-09-10', 0, 0, 36.73, 'Swipe Transaction', 'La Verne', 'CA'),
	('2017-04-28', 0, 0, 87.19, 'Chip Transaction', 'La Verne', 'CA'),
	('2007-11-03', 0, 3, 122.18, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-05-02', 0, 3, 37.51, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2018-04-14', 0, 1, 37.37, 'Chip Transaction', 'Monterey Park', 'CA'),
	('2011-10-19', 0, 3, 138.14, 'Swipe Transaction', 'La Verne', 'CA'),
	('2005-04-17', 0, 2, 37.62, 'Swipe Transaction', 'La Verne', 'CA'),
	('2013-10-07', 0, 2, 37.2, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2004-07-10', 0, 3, 139.95, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-12-27', 0, 0, 12.67, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-03-24', 0, 3, 147.81, 'Swipe Transaction', 'La Verne', 'CA'),
	('2013-12-08', 0, 3, 116.67, 'Swipe Transaction', 'Rome', 'Italy'),
	('2005-04-14', 0, 3, 133.04, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2008-06-04', 0, 2, 55.36, 'Swipe Transaction', 'La Verne', 'CA'),
	('2005-08-23', 0, 3, 58.97, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2013-04-17', 0, 3, 28.07, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2014-12-01', 0, 3, 123.92, 'Swipe Transaction', 'La Verne', 'CA'),
	('2004-07-11', 0, 2, 47.0, 'Swipe Transaction', 'La Verne', 'CA'),
	('2005-07-27', 0, 3, 138.76, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2005-06-09', 0, 0, 19.32, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-11-26', 0, 0, 52.22, 'Swipe Transaction', 'La Verne', 'CA'),
	('2008-07-09', 0, 3, 17.29, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-06-07', 0, 0, 121.75, 'Swipe Transaction', 'La Verne', 'CA'),
	('2010-03-24', 0, 3, 130.14, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-07-20', 0, 2, 73.7, 'Swipe Transaction', 'La Verne', 'CA'),
	('2008-08-27', 0, 3, 115.16, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2006-01-13', 0, 0, 40.74, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2006-07-22', 0, 3, 118.52, 'Swipe Transaction', 'La Verne', 'CA'),
	('2006-09-07', 0, 3, 179.97, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2007-03-18', 0, 2, 157.78, 'Swipe Transaction', 'La Verne', 'CA'),
	('2009-04-14', 0, 2, 28.78, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2011-11-29', 0, 3, 121.23, 'Swipe Transaction', 'La Verne', 'CA'),
	('2009-06-06', 0, 3, 128.82, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-10-11', 0, 0, 7.58, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2011-09-13', 0, 3, 154.07, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2016-09-03', 0, 3, 120.06, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-11-29', 0, 3, 59.44, 'Swipe Transaction', 'La Verne', 'CA'),
	('2017-03-06', 0, 0, 42.14, 'Chip Transaction', 'La Verne', 'CA'),
	('2013-08-21', 0, 3, 41.57, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-02-18', 0, 3, 13.45, 'Swipe Transaction', 'La Verne', 'CA'),
	('2019-10-17', 0, 3, 13.32, 'Swipe Transaction', 'Highland Park', 'MI'),
	('2010-06-11', 0, 2, 55.7, 'Swipe Transaction', 'La Verne', 'CA'),
	('2018-01-24', 0, 3, 126.51, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-07-15', 0, 2, 46.08, 'Swipe Transaction', 'Santa Clara', 'CA'),
	('2008-11-08', 0, 3, 160.0, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2009-09-08', 0, 3, 89.43, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-03-12', 0, 3, 110.6, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-08-24', 0, 3, 40.23, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-05-30', 0, 3, 176.92, 'Swipe Transaction', 'Las Vegas', 'NV'),
	('2009-12-26', 0, 3, 100.0, 'Swipe Transaction', 'Clinton', 'NY'),
	('2018-05-19', 0, 3, 37.12, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-02-16', 0, 0, 35.85, 'Chip Transaction', 'Monterey Park', 'CA'),
	('2010-08-14', 0, 2, 12.63, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2003-04-28', 0, 0, 21.68, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2006-01-06', 0, 3, 45.17, 'Swipe Transaction', 'La Verne', 'CA'),
	('2008-06-27', 0, 2, 1.73, 'Swipe Transaction', 'La Verne', 'CA'),
	('2006-08-02', 0, 2, 31.87, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-01-01', 0, 3, 132.9, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2008-02-02', 0, 0, 26.03, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-06-10', 0, 0, 4.39, 'Swipe Transaction', 'La Verne', 'CA'),
	('2020-01-27', 0, 1, 40.03, 'Chip Transaction', 'Monterey Park', 'CA'),
	('2005-11-18', 0, 0, 56.76, 'Swipe Transaction', 'Chicago', 'IL'),
	('2007-05-06', 0, 2, 131.97, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2008-09-12', 0, 3, 131.47, 'Swipe Transaction', 'La Verne', 'CA'),
	('2014-02-23', 0, 0, 80.0, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2019-02-20', 0, 3, 90.76, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-08-23', 0, 3, 108.3, 'Swipe Transaction', 'La Verne', 'CA'),
	('2007-05-17', 0, 3, 141.98, 'Swipe Transaction', 'La Verne', 'CA'),
	('2013-06-07', 0, 3, 46.27, 'Swipe Transaction', 'La Verne', 'CA'),
	('2014-03-02', 0, 0, 116.0, 'Swipe Transaction', 'La Verne', 'CA'),
	('2013-11-29', 0, 2, 44.07, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2016-12-08', 0, 3, 93.24, 'Swipe Transaction', 'Holland', 'MI'),
	('2008-08-12', 0, 0, 133.99, 'Swipe Transaction', 'La Verne', 'CA'),
	('2004-05-06', 0, 0, 59.15, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2007-06-27', 0, 0, 13.36, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-08-03', 0, 0, 40.63, 'Swipe Transaction', 'La Verne', 'CA'),
	('2002-10-18', 0, 0, 1.84, 'Swipe Transaction', 'La Verne', 'CA'),
	('2004-04-28', 0, 2, 58.14, 'Swipe Transaction', 'Evanston', 'IL'),
	('2008-04-05', 0, 3, 60.25, 'Swipe Transaction', 'San Antonio', 'TX'),
	('2012-01-21', 0, 0, 10.34, 'Swipe Transaction', 'La Verne', 'CA'),
	('2018-02-23', 0, 0, 118.84, 'Chip Transaction', 'La Verne', 'CA'),
	('2015-05-15', 0, 2, 41.27, 'Chip Transaction', 'La Verne', 'CA'),
	('2016-02-18', 0, 3, 79.74, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2013-01-10', 0, 2, -78.0, 'Swipe Transaction', 'Cancun', 'Mexico'),
	('2006-05-08', 0, 2, 66.14, 'Swipe Transaction', 'La Verne', 'CA'),
	('2010-05-14', 0, 0, 73.04, 'Swipe Transaction', 'La Verne', 'CA'),
	('2014-09-26', 0, 0, 25.99, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2007-04-22', 0, 0, 38.73, 'Swipe Transaction', 'La Verne', 'CA'),
	('2015-10-08', 0, 3, 49.92, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-01-05', 0, 3, 259.16, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2008-10-10', 0, 2, 121.89, 'Swipe Transaction', 'La Verne', 'CA'),
	('2013-03-06', 0, 3, 58.62, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-07-13', 0, 2, 19.17, 'Swipe Transaction', 'La Verne', 'CA'),
	('2019-06-15', 0, 1, 6.4, 'Chip Transaction', 'Monterey Park', 'CA'),
	('2003-12-11', 0, 3, 110.46, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-02-02', 0, 0, 54.91, 'Swipe Transaction', 'Playa Vista', 'CA'),
	('2005-02-03', 0, 2, 27.11, 'Swipe Transaction', 'Tokyo', 'Japan'),
	('2016-07-17', 0, 1, -51.0, 'Chip Transaction', 'La Verne', 'CA'),
	('2008-02-05', 0, 3, 151.32, 'Swipe Transaction', 'La Verne', 'CA'),
	('2019-07-08', 0, 0, 52.86, 'Chip Transaction', 'Mira Loma', 'CA'),
	('2013-03-17', 0, 3, 171.63, 'Swipe Transaction', 'Jackson', 'MI'),
	('2006-03-23', 0, 3, 785.2, 'Swipe Transaction', 'Rosemead', 'CA'),
	('2017-08-22', 0, 1, 15.21, 'Swipe Transaction', 'La Verne', 'CA'),
	('2014-12-16', 0, 1, 3.3, 'Swipe Transaction', 'Muscatine', 'IA'),
	('2007-02-21', 0, 3, 92.08, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2008-05-12', 0, 2, 1.73, 'Swipe Transaction', 'La Verne', 'CA'),
	('2020-02-22', 0, 1, 1.52, 'Chip Transaction', 'La Verne', 'CA'),
	('2018-06-27', 0, 3, 14.43, 'Swipe Transaction', 'Los Angeles', 'CA'),
	('2003-09-30', 0, 3, 46.7, 'Swipe Transaction', 'La Verne', 'CA'),
	('2008-03-24', 0, 2, 39.21, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2002-11-19', 0, 0, 52.94, 'Swipe Transaction', 'Monterey Park', 'CA'),
	('2006-07-14', 0, 3, 56.67, 'Swipe Transaction', 'La Verne', 'CA'),
	('2003-04-04', 0, 3, 138.63, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-10-26', 0, 3, 171.93, 'Swipe Transaction', 'La Verne', 'CA'),
	('2012-03-20', 0, 3, -64.0, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2006-05-06', 0, 3, 118.88, 'Swipe Transaction', 'La Verne', 'CA'),
	('2011-05-14', 0, 3, 162.29, 'Swipe Transaction', 'Palo Alto', 'CA'),
	('2006-02-10', 0, 2, 7.93, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2004-05-30', 0, 3, 141.39, 'Swipe Transaction', 'Mira Loma', 'CA'),
	('2016-01-22', 0, 2, 150.97, 'Chip Transaction', 'La Verne', 'CA'),
	('2005-03-27', 0, 2, 40.05, 'Swipe Transaction', 'Austin', 'TX'),
	('2016-01-06', 1, 3, 89.4, 'Chip Transaction', 'Little Neck', 'NY'),
	('2004-01-26', 1, 2, 159.54, 'Swipe Transaction', 'Little Neck', 'NY'),
	('2015-06-15', 1, 2, 19.47, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2012-12-12', 1, 1, 72.75, 'Swipe Transaction', 'Fresh Meadows', 'NY'),
	('2015-03-14', 1, 1, 70.29, 'Chip Transaction', 'Pennsville', 'NJ'),
	('2006-01-05', 1, 2, 79.36, 'Swipe Transaction', 'Little Neck', 'NY'),
	('2018-02-12', 1, 3, 15.27, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2012-07-23', 1, 1, 20.5, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2013-03-27', 1, 3, 58.18, 'Swipe Transaction', 'Little Neck', 'NY'),
	('2008-07-23', 1, 4, 75.99, 'Swipe Transaction', 'Little Neck', 'NY'),
	('2016-05-24', 1, 2, 77.0, 'Chip Transaction', 'Little Neck', 'NY'),
	('2015-11-14', 1, 1, 4.06, 'Chip Transaction', 'Little Neck', 'NY'),
	('2009-02-19', 1, 4, 17.27, 'Swipe Transaction', 'Elmhurst', 'NY'),
	('2010-06-15', 1, 2, 96.05, 'Swipe Transaction', 'Little Neck', 'NY'),
	('2012-08-10', 1, 4, 16.55, 'Online Transaction', 'ONLINE', 'ONLINE'),
	('2012-12-06', 1, 1, 91.82, 'Swipe Transaction', 'Little Neck', 'NY'),
	('2014-05-08', 1, 3, 72.28, 'Swipe Transaction', 'Little Neck', 'NY'),

C:\Users\frank\AppData\Local\Temp\ipykernel_17344\977948207.py:21: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col, dtype in dtype_df.iteritems():

In [13]:
wb